.study-card__link {
  font-size: 18px;
  line-height: 30px;
  color: #000d26;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 768px) {
  .study-card__link {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 320px) {
  .study-card__link {
    font-size: 12px;
    line-height: 20px;
  }
}
