.link__title_size_s {
  margin-top: 12px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  text-align: left;
  letter-spacing: 0.1px;
}

@media screen and (max-width: 1279px) {
  .link__title_size_s {
    font-size: 18px;
    line-height: 167%;
  }
}

@media screen and (max-width: 767px) {
  .link__title_size_s {
    font-size: 14px;
    line-height: 136%;
  }
}

