.connection__button-send {
    border-radius: 10px;
    min-width: 350px;
    min-height: 60px;
    color: white;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
    background-color: #009FAC;
    border: 1px solid white;
    margin-top: 37px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .connection__button-send {
        min-width: 210px;
    }
}

@media screen and (max-width: 450px) {
    .connection__button-send {
        margin-top: 23px;
        width: 100%;
        font-size: 14px;
        line-height: 19px;
    }
}