.publications__card-authors {
  max-width: 100%;
  margin: 0 0 12px 0;
  font-weight: normal;
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
  color: #009FAC;
  max-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* @media screen and (max-width: 1279px) {
  .publications__card-authors {
    font-size: 24px;
    line-height: 137.5%;
    padding-bottom: 40px;
  }
} */

@media screen and (max-width: 767px) {
  .publications__card-authors {
    margin: 0 0 10px 0;
    font-size: 12px;
    line-height: 145%;
    max-height: 34px;
  }
}
