.team__post {
    margin: 0;
    font-family: Open Sans;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #009FAC;
    padding-top: 4px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1279px) {
    .team__post {
        font-size: 12px;
        line-height: 17px;
    }
}

@media screen and (max-width: 767px) {
    .team__name {
        font-size: 10px;
        line-height: 14px;
    }
}