.lab__img:first-of-type {
  width: 100%;
  grid-row: span 2;
}
.lab__img:last-of-type {
  width: 100%;
  grid-row: span 2;
}

@media (max-width: 768px) {
  .lab__img:last-of-type {
    grid-column: 3/5;
    height: 240px;
  }
  .lab__img:first-of-type {
    display: none;
  }
}

@media (max-width: 320px) {
  .lab__img:last-of-type {
    grid-column: 1/5;
    grid-row: 1/2;
    margin-bottom: 20px;
  }
}
