.publications__card-share-button {
  background-image: url(../../../images/share-button.svg);
  width: 24px;
  height: 24px;
  background-size: contain;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

