.footer__contacts {
  width: 19%;
  max-width: 206px;
  min-width: 156px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 1023px) {
  .footer__contacts {
    width: 30.4%;
  }
}

@media screen and (max-width: 650px) {
  .footer__contacts {
    width: 45%;
  }
}

@media screen and (max-width: 425px) {
  .footer__contacts {
    width: calc(100vw - 2 * 16px);
    max-width: 231px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
