.header__link {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 44px;
  width: 100%;
}

@media screen and (min-width: 1023px) {
  .header__link:hover {
    box-shadow: 0px 2px 0px #009FAC;
  }
}


@media screen and (max-width: 1023px) {
  .header__link {
    display: block;
    box-sizing: border-box;
    text-align: start;
    padding-left: 39px;
  }
  .header__link:hover {
    background-color: #001337;
  }
}

@media screen and (max-width: 767px) {
  .header__link {
    padding-left: 16px;
  }
}
