.logo {
  background-image: url(../../images/Logo_AI.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 54px;
  shape-rendering: crispEdges;
}

@media screen and (max-width: 1023px) {
  .logo {
    width: 94.7px;
    height: 32px;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    width: 71px;
    height: 24px;
  }
}
