.link__title {
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: normal;
  line-height: 126%;
  text-align: left;
  letter-spacing: 0.1px;
  color: white;
}

@media screen and (max-width: 767px) {
  .link__title {
    font-size: 32px;
    line-height: 133%;
  }
}
