.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  padding-bottom: 30px;
  display: block;
}

@media screen and (max-width: 1023px) {
  .footer__copyright {
    display: none;
  }
}



