.lab__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(255px, 1fr)); */
  grid-gap: 30px;
}
/* @media (max-width: 660px) {
  .lab__cards {
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, 186px);
  }
} */
@media (max-width: 320px) {
  .lab__cards {
    grid-gap: 8px;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, 136px);

    /* grid-template-rows: 1fr 1fr; */
    /* grid-template-columns: repeat(auto-fit, 136px); */
  }
}
