.footer__logo-wrap {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .footer__logo-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    align-items: center;
  }
}
