.lab-popup__container {
  display: flex;
  padding: 20px;
  position: relative;

  color: #000;
  max-width: 1110px;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 320px) {
  .lab-popup__container {
    max-width: 270px;
    padding: 16px;
    flex-direction: column;
  }
}
