.study__tab-bar_btn_magistr {
  /* max-width: 280px; */
  /* height: 60px; */
  text-align: center;
  padding: 15px 50px;
  /* padding: 30px; */
  background: transparent;
  color: #fff;
}

@media (max-width: 320px) {
  .study__tab-bar_btn_magistr {
    padding: 15px 25px;
  }
}
