.intro {
  width: 100%;
  height: 100%;
  position: relative;
}

.intro:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../../images/Background.png) 0 -80px/1440px 1024px no-repeat #001337;
}

@media screen and (max-width: 1279px) {
  .intro:before {
    background: url(../../images/Background.png) -300px -68px/1319px 938px no-repeat #001337;
    transform: scale(-1, 1);
  }
}

@media screen and (max-width: 767px) {
  .intro:before {
    background: url(../../images/Background.png) -190px 0px/600px 500px no-repeat #001337
  }
}

