.publications__carousel {
  width: 100%;
  /* max-width: 1262px; */

  max-width: 1110px;

  /* overflow-x: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1261px) {
  .publications__carousel {
    /* max-width: 1024px; */
  }
}

@media screen and (max-width: 1023px) {
  .publications__carousel {
    max-width: 95vw;
    /* padding-left: 39px; */
  }
}

@media screen and (max-width: 426px) {
  .publications__carousel {
    max-width: 95vw;
    /* padding-left: 39px; */
  }
}
