.header__sub-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #000D26;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  min-width: 120px;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .header__sub-menu {
    position: relative;
    top: 100%;
    left: 0;
  }
}
