.lab__text {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #000d26;

  max-width: 540px;
  grid-column: 1/3;
  grid-row: 2/3;

  margin: 0;
}
.lab__text::before {
  position: absolute;
  content: url(../img/Lab/icon-text.png);
  top: 0;
  left: -35px;
  width: 24px;
  height: 22px;
}
@media (max-width: 768px) {
  .lab__text {
    font-size: 14px;
    line-height: 20px;
  }
  .lab__text::before {
    display: none;
  }
}
@media (max-width: 320px) {
  .lab__text {
    grid-column: 1/5;
  }
}
