.lab__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: 1fr 1fr; */
  column-gap: 10px;
  margin-bottom: 80px;
}

@media (max-width: 320px) {
  .lab__item {
    /* row-gap: 20px; */
    margin-bottom: 20px;
  }
}
