.footer__description {
  max-width: 263px;
  width: 24%;
}

@media screen and (max-width: 1023px) {
  .footer__description {
    width: 29.5%;
  }
}

/* @media screen and (max-width: 650px) {
  .footer__description {
    width: calc(100vw - 2 * 16px);
    display: inline;
    max-width: calc(100vw - 2 * 16px);
  }
}  */

@media screen and (max-width: 650px) {
  .footer__description {
    display: none;
  }
}
