.footer__main-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}

@media screen and (max-width: 425px) {
  .footer__main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    row-gap: 40px;
    column-gap: 8px;
    grid-auto-flow: row;
  }
}



