.about__caption {
  max-width: 907px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin: 30px 0;
}

@media screen and (max-width: 1279px) {
  .about__caption {
    font-size: 14px;
    line-height: 143%;
  }
}

@media screen and (max-width: 767px) {
  .about__caption {
    font-size: 12px;
    line-height: 133%;
  }
}
