.team__name {
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

@media screen and (max-width: 1279px) {
    .team__name {
        font-size: 14px;
        line-height: 19px;
    }
}

@media screen and (max-width: 767px) {
    .team__name {
        font-size: 12px;
        line-height: 16px;
    }
}