.study-card__img {
  max-width: 445px;
  max-height: 364px;
}

@media (max-width: 1110px) {
  .study-card__img {
    width: 280px;
  }
}
@media (max-width: 540px) {
  .study-card__img {
    width: 100%;
    order: -1;
  }
}
