.footer__heading {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  padding-bottom: 12px;
}

@media screen and (max-width: 1023px) {
  .footer__heading {
    font-size: 12px;
    line-height: 16.34px;
  }
}

@media screen and (max-width: 425px) {
  .footer__heading {
    padding-bottom: 8px;
  }
}
