.footer__copyright_mobile {
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  margin: 0;
  display: none;
}

@media screen and (max-width: 1023px) {
  .footer__copyright_mobile {
    display: block;
    margin-top: 30px;
  }
}

@media screen and (max-width: 425px) {
  .footer__copyright_mobile {
    margin-top: 0;
    font-size: 12px;
    line-height: 16px;
  }
}
