.study-card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px;
  /* margin-bottom: 35px; */
  margin: 0 50px 35px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .study-card {
    padding: 20px;
    max-width: 690px;
  }
}
@media (max-width: 540px) {
  .study-card {
    max-width: 100%;
    margin: 0 10px 35px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
