.partners__logo {
  height: 48px;
}

@media screen and (max-width: 1279px) {
  .partners__logo {
    height: 32px;
  }
}

@media screen and (max-width: 767px) {
  .partners__logo {
    height: 20px;
  }
}
