.publications__content {
  max-width: 1262px;
  width: 1262px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .publications__content {
    width: calc(100vw - 2 * 39px);
  }
}

@media screen and (max-width: 1160px) {
  .publications__content {
    width: calc(100vw - 2 * 10px);
  }
}

@media screen and (max-width: 1023px) {
  .publications__content {
    width: calc(100vw - 2 * 39px);
  }
}

@media screen and (max-width: 767px) {
  .publications__content {
    width: calc(100vw - 2 * 16px);
  }
}
